<div class="d-flex justify-content-between align-items-center my-4 mx-5 ft-m">
    <a href="" class="logo">MMI Analytics</a>
    <nav>
        <ul class="d-flex justify-content-between align-items-center">
            <li class="mx-3"><a href="">Home</a></li>
            <li class="mx-3"><a href="">Cómo funciona</a></li>
            <li class="mx-3"><a href="">Promotores</a></li>
            <li class="mx-3"><a href="">Casa de Productos</a></li>
        </ul>
    </nav>
    <div class="login">
        <a href="" class="mx-3">Registro</a>
        <a href="" class="mx-3">Ingresar</a>
    </div>
</div>