<div class="container">
    <h2 class="my-5 text-center">Estos son los pasos de quebes seguir</h2>
    <div class="container">
        <ul class="steps-list">
            <li class="step"><span>1</span> Registrate</li>
            <p>Completa el formulario de registro para iniciar con tu proceso</p>
            <li class="step"><span>2</span> Completa tus datos</li>
            <p>Completa tu perfil con todos los datos personales solicitados, esto ayudará a que te encuentren más fácil</p>
            <li class="step"><span>3</span> Registra tus campañas de venta</li>
            <p>Da a conocer tus campañas y recibe postulaciones de los promotores</p>
            <li class="step"><span>4</span> Evalua tus postulantes</li>
            <p>Elige entre todos los postulantes para promocionar tu campaña, el o los que más te interesa para contactarte con ellos.</p>
            <li class="step"><span>5</span> Listo</li>
            <p>Ya terminaste, solo debes esperar a que el promotor responda tu aceptación y empieza a expandir tu negocio.</p>
            </ul>
    </div>

    
</div>