    <h2 class="my-5 pt-5 mx-5 bs-title text-center">¿A quién va dirigido?</h2>
    <div class="content-row">
        <div class="row">
            <div class="col-6 pr-5 d-flex flex-column justify-content-center">
                <p class="my-2">Nuesttra propuesta está dirigida a cualquier empresa que requiera, desde su plan de marketing, enlazar su producto o servicio con agentes dispuestos a promocionar las ventajas y utilidades que ofreces.</p>
                <p class="my-2">El proposito es generar una reactivación económica desde la colaboración mutua, donde las empresas como casas de productos, encuentren el respaldo en empresas promotoras, para visibilizar sus productos, al mismo tiempo que los promotores, reciben un beneficio por dicha difusión orgánica.</p>
            </div>
            <div class="col-6">
                <img src="../../../assets/images/business.jpg" alt="">
            </div>
        </div>
        
    </div>
    
