    <div class="container">
        <h2 class="text-center my-5 pt-5">Conoce más y unete a la red MMI</h2>
        <div class="row py-3">
            <div class="col-6">
                <div class="card border-secondary">
                    <div class="card-body text-center">
                      <h5 class="card-title pt-4 mb-5">¿Eres promotor?</h5>
                      <p class="card-text px-4 mb-5">Ingresa y descubre las diferentes empresas a las que puedes promocionar y obtén beneficios por hacerlo</p>
                      <a routerLink="promoter" class="btn btn-primary mb-3 py-2 px-4">Saber más</a>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="card border-secondary">
                    <div class="card-body text-center">
                      <h5 class="card-title pt-4 mb-5">¿Eres Casa de Productos?</h5>
                      <p class="card-text px-4 mb-5">Esta es tu oportunidad de expandirte. Da a conocer tus productos y servicios, de la mano de nuestros promotores</p>
                      <a routerLink="houseprod" class="btn btn-primary mb-3 py-2 px-4">Saber más</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <router-outlet class="my-5"></router-outlet>