<h2 class="my-5 pt-5 mx-5 bs-title text-center">¿cómo funciona?</h2>
<div class="content-row mb-5 pb-5">
    <div class="row d-flex flex-row-reverse">
        <div class="col-6 d-flex flex-column justify-content-center">
            <p class="pl-5">Nos basamos en un modelo de relacionamiento y postulamientos. Las casas de productos publican el producto o servicio que quieren promocionar y reciben postulaciones de agentes promotores para posteriormente elegir, con cuál o cuáles desea continuar el proceso</p>
        </div>
        <div class="col-6">
            <img src="../../../assets/images/how-to.jpg" alt="">
        </div>
    </div>
    
</div>