/* You can add global styles to this file, and also import other style files */
* {
    color: #404040;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.ft-m{
    font-size: 1.2rem;
}
img {
    max-width: 100vw;
    height: auto;
}
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #007bff;
}
p {
    font-size: 1.2rem;
    margin: 0;
}
.col-6 img {
    width: inherit;
}
.content-row {
    width: 80%;
    margin: auto;
}